/* General Styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Abel", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-bottom: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color: #747474;
}

.card > h1 {
  margin-top: 10px;
  font-size: 1.6em;
}

/* Header styles */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1.5em;
  color: inherit; /* Ensure the title color inherits from the parent */
}

.title-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.nav-link:hover {
  text-decoration: underline;
}

.search-bar {
  width: 250px;
  border-radius: 3px;
  border: 1.5px solid #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 3px;
}

.product-image {
  width: auto;
  border-radius: 3px;
  height: 400px;
  object-fit: cover;
}

.product-title {
  font-size: 24px;
  margin: 20px 0;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
  white-space: normal;
  overflow: visible;
  display: block;
}

.product-price {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-container {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

a > button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}

.review {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 150px;
}

/* Cart count styles */
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
}

/* Footer styles */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

/* Cart icon styles */
.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon img {
  width: 30px;
  height: 30px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
}

/* Header styles */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1.5em;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.nav-link:hover {
  text-decoration: underline;
}

/* error handling */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: block;
}

/* Style for input fields with errors */
.input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

/* Often used styles*/
.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container > form {
  text-align: left;
  width: 650px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.button {
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.add-to-cart-button {
  background-color: #28a745;
  color: white;
}

.add-to-cart-button:hover {
  background-color: #218838;
}

.product-remove-from-cart-button,
.remove-from-cart-button {
  background-color: #dc3545;
  color: white;
}

.product-remove-from-cart-button:hover,
.remove-from-cart-button:hover {
  background-color: #c82333;
}

.complete-button {
  background-color: #28a745;
  color: white;
  display: block;
  margin: 20px auto 0;
  width: 170px;
}

@media (max-width: 1580px) {
  .button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .title {
    font-size: 1.75em;
  }

  .nav-link {
    font-size: 0.9em;
  }

  .card-container {
    width: calc(50% - 20px);
  }

  .card {
    height: 470px;
  }

  .products-container {
    width: 70%;
  }
}

@media (max-width: 1392px) {
  .card-container {
    width: calc(50% - 20px);
  }

  .title {
    font-size: 1.6em;
  }

  .button {
    padding: 8px 14px;
    font-size: 13px;
  }

  .products-container {
    width: 75%;
  }
}

@media (max-width: 1280px) {
  .card-container {
    width: calc(50% - 20px);
  }

  .title {
    font-size: 1.5em;
  }

  .button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .products-container {
    width: 80%;
  }
}

@media (max-width: 1138px) {
  .button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .title {
    font-size: 1.5em;
  }

  .nav-link {
    font-size: 0.85em;
  }

  .card-container {
    width: calc(50% - 20px);
  }

  .card {
    height: auto;
  }

  .products-container {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .button {
    padding: px 12px;
    font-size: 12px;
  }

  .title {
    font-size: 1.5em;
  }

  .nav-link {
    font-size: 0.85em;
  }

  .card-container {
    width: calc(50% - 20px);
  }

  .card {
    height: auto;
  }

  .products-container {
    width: 65%;
  }
}

@media (max-width: 850px) {
  .button-container {
    flex-direction: row;
    align-items: stretch;
    margin-top: 20px;
  }

  .title {
    font-size: 1.25em;
  }

  .nav-link {
    font-size: 0.8em;
  }

  .card-container {
    width: calc(50% - 100px);
  }

  .products-container {
    width: 80%;
  }
}

/* Product Card Styles */
.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.product-title {
  font-size: 24px;
  margin: 20px 0;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
  white-space: normal;
  overflow: visible;
  display: block;
}

.product-price {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #28a745;
  font-weight: 600;
}

.button-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

/* Front Page Product Card Styles */
.card-container {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.description {
  font-size: 1.05em;
  color: #666;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14.5px;
  text-align: center;
}

.view-product-button {
  background-color: #007bff;
  color: white;
}

.view-product-button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 1580px) {
  .searchField {
    width: 70vw;
  }

  .card-container {
    width: calc(50% - 20px);
  }

  .products-container {
    width: 70%;
  }
}

@media (max-width: 1280px) {
  .card-container {
    width: calc(50% - 20px);
  }

  .title {
    font-size: 1.5em;
  }

  .button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .products-container {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .container > form {
    text-align: left;
    width: 500px;
    margin: auto;
  }
  .card-container {
    width: calc(50% - 20px);
  }

  .title {
    font-size: 1.25em;
  }

  .button {
    padding: 9px 14px;
    font-size: 12px;
  }

  .ProductButton {
    padding: 9px 14px;
    font-size: 12px;
  }

  .description {
    -webkit-line-clamp: 2;
  }

  .products-container {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .container > form {
    text-align: left;
    width: 410px;
    margin: auto;
  }
  .card-container {
    width: calc(100% - 20px);
  }

  .title {
    font-size: 1em;
  }

  .button {
    margin-bottom: 10px;

    padding: 6px 10px;
  }

  .description {
    -webkit-line-clamp: 3;
  }

  .products-container {
    width: 65%;
  }
}

/* Cart Page */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 20px;
}

.cart-item-title {
  font-size: 1em;
  color: #007bff;
  text-decoration: none;
}

.cart-item-title:hover {
  text-decoration: underline;
}

.item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.remove-button:hover {
  background-color: #c82333;
}

.total {
  text-align: right;
  font-size: 1.2em;
  margin-top: 20px;
}

.checkout-description {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: #747474;
}

.checkout-button {
  background-color: #007bff;
  color: white;
  width: 40%;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  margin: 20px auto 0;
}

/* Checkout Success Page */
.success-container {
  text-align: center;
}

.success-container > p {
  color: #747474;
  margin-bottom: 30px;
}

.success-title {
  margin-bottom: 20px;
  text-align: center;
}

.back-button {
  background-color: #007bff;
  color: white;
}

/* Contact Page */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  width: 100%;
}

/* Content Container */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* Products Container */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
}

@media (min-width: 1700px) {
  .products-container {
    max-width: 1200px;
  }
}

@media (max-width: 700px) {
  .container {
    border-radius: 0%;
  }

  .product-image {
    width: auto;
    border-radius: 3px;
    height: 350px;
    object-fit: cover;
  }
}
